# Data splitting & preprocessing

In [14]:
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.read_csv('/Users/SulMac/Desktop/MiskDSI/FPL/Best-FPL-team-predictor/Data/cleaned_merged_seasons.csv')

/Users/SulMac/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Imputing categorical missing values

In [3]:
categorical_features = df.select_dtypes(include = ['object']).columns.values
categorical_features

array(['season_x', 'name', 'position', 'team_x', 'kickoff_time',
       'opp_team_name'], dtype=object)

In [4]:
from sklearn.impute import SimpleImputer
cat_impute = SimpleImputer(strategy='constant', fill_value = 'missing')

In [5]:
df[categorical_features].head()

,season_x,name,position,team_x,kickoff_time,opp_team_name
0,2016-17,Aaron Cresswell,DEF,NaN,2016-08-15T19:00:00Z,Chelsea
1,2016-17,Aaron Lennon,MID,NaN,2016-08-13T14:00:00Z,Spurs
2,2016-17,Aaron Ramsey,MID,NaN,2016-08-14T15:00:00Z,Liverpool
3,2016-17,Abdoulaye Doucouré,MID,NaN,2016-08-13T14:00:00Z,Southampton
4,2016-17,Adam Forshaw,MID,NaN,2016-08-13T14:00:00Z,Stoke

In [6]:
cat_impute.fit(df[categorical_features])

SimpleImputer(fill_value='missing', strategy='constant')

In [7]:
df[categorical_features] = cat_impute.transform(df[categorical_features])

In [8]:
df[categorical_features].isnull().sum()

season_x         0
name             0
position         0
team_x           0
kickoff_time     0
opp_team_name    0
dtype: int64

In [9]:
df.head()

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,0,2016-17,Aaron Cresswell,DEF,missing,0,0,0,0,0.0,...,2.0,0.0,0,0,0,0,55,False,0,1
1,1,2016-17,Aaron Lennon,MID,missing,0,0,6,0,0.3,...,1.0,0.0,1,0,0,0,60,True,0,1
2,2,2016-17,Aaron Ramsey,MID,missing,0,0,5,0,4.9,...,3.0,23.0,2,0,0,0,80,True,0,1
3,3,2016-17,Abdoulaye Doucouré,MID,missing,0,0,0,0,0.0,...,1.0,0.0,0,0,0,0,50,False,0,1
4,4,2016-17,Adam Forshaw,MID,missing,0,0,3,0,1.3,...,1.0,0.0,1,0,0,0,45,True,1,1

In [11]:
df["team_x"]

0            missing
1            missing
2            missing
3            missing
4            missing
            ...
98397      Leicester
98398      Newcastle
98399    Southampton
98400       Brighton
98401       West Ham
Name: team_x, Length: 98402, dtype: object

# Splitting CSV File by season_x column

In [13]:
#Here we want to check the unique values in "season_X" column
unique_val = df['season_x'].unique()
unique_val

array(['2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22'],
      dtype=object)

In [15]:
#We want to use the data of 2021-22 season as a test data 
df_output = df[df['season_x'].str.contains('2021-22')]
#We creating a new .CSV file with the name Test 
df_path = os.path.join('/Users/SulMac/Desktop/MiskDSI/FPL/Best-FPL-team-predictor/Data/Test' ,'Test' + '.csv' )
df_output.to_csv(df_path)

In [16]:
#Importing our new Test.csv
testdf = pd.read_csv('/Users/SulMac/Desktop/MiskDSI/FPL/Best-FPL-team-predictor/Data/Test/Test.csv')

In [17]:
testdf.head()

,Unnamed: 0,Unnamed: 0.1,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,73837,73837,2021-22,Eric Bailly,DEF,Man Utd,0,0,0,0,...,5.0,0.0,0,0,0,0,50,True,0,1
1,73838,73838,2021-22,Keinan Davis,FWD,Aston Villa,0,0,0,0,...,3.0,0.0,0,0,0,0,45,False,0,1
2,73839,73839,2021-22,Ayotomiwa Dele-Bashiru,MID,Watford,0,0,0,0,...,3.0,0.0,0,0,0,0,45,True,0,1
3,73840,73840,2021-22,James Ward-Prowse,MID,Southampton,0,0,20,0,...,3.0,0.0,2,0,0,0,65,False,0,1
4,73841,73841,2021-22,Bruno Miguel Borges Fernandes,MID,Man Utd,0,3,61,0,...,5.0,59.0,20,0,0,0,120,True,0,1

In [19]:
#Checking if it contains any value from another seasons 
Testunique_val = testdf['season_x'].unique()
Testunique_val

array(['2021-22'], dtype=object)

# Creating a train dataset excluding rows contains 2021-22

In [34]:
#Here we define the x as the excluding start point
x = 73837
#Y is where we want to stop .
y = 98401
df.loc[x:y]

df.loc[x:y].index

RangeIndex(start=73837, stop=98402, step=1)

In [37]:
#Dropping the rows between 73837 and 98401
dftrain = df.drop(df.loc[x:y].index, inplace=False)
#Saving the new dataframe into a CSV file with the name Train.csv
df_tpath = os.path.join('/Users/SulMac/Desktop/MiskDSI/FPL/Best-FPL-team-predictor/Data/Train' ,'Train' + '.csv' )
dftrain.to_csv(df_tpath)

In [38]:
#Importing our new dataset
dft = pd.read_csv('/Users/SulMac/Desktop/MiskDSI/FPL/Best-FPL-team-predictor/Data/Train/Train.csv')

In [39]:
dft.head()

,Unnamed: 0,Unnamed: 0.1,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,0,0,2016-17,Aaron Cresswell,DEF,missing,0,0,0,0,...,2.0,0.0,0,0,0,0,55,False,0,1
1,1,1,2016-17,Aaron Lennon,MID,missing,0,0,6,0,...,1.0,0.0,1,0,0,0,60,True,0,1
2,2,2,2016-17,Aaron Ramsey,MID,missing,0,0,5,0,...,3.0,23.0,2,0,0,0,80,True,0,1
3,3,3,2016-17,Abdoulaye Doucouré,MID,missing,0,0,0,0,...,1.0,0.0,0,0,0,0,50,False,0,1
4,4,4,2016-17,Adam Forshaw,MID,missing,0,0,3,0,...,1.0,0.0,1,0,0,0,45,True,1,1

In [40]:

dft.tail()

,Unnamed: 0,Unnamed: 0.1,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
73832,73832,73832,2020-21,Aaron Ramsdale,GK,Sheffield Utd,0,2,30,1,...,1.0,0.0,9,13618,17381,3763,46,True,0,38
73833,73833,73833,2020-21,Adrien Silva,MID,Leicester,0,0,0,0,...,2.0,0.0,0,-16,0,16,44,True,0,38
73834,73834,73834,2020-21,Sidnei Tavares,MID,Leicester,0,0,0,0,...,2.0,0.0,0,32,60,28,44,True,0,38
73835,73835,73835,2020-21,Kalvin Phillips,MID,Leeds,0,0,17,0,...,3.0,8.0,6,210,789,579,49,True,1,38
73836,73836,73836,2020-21,Raphael Dias Belloli,MID,Leeds,1,0,24,0,...,3.0,31.0,5,124979,142069,17090,56,True,0,38

In [41]:
#To check that we removed every row that contains 2021-22 in season_x column
unique_val = dft['season_x'].unique()
unique_val

array(['2016-17', '2017-18', '2018-19', '2019-20', '2020-21'],
      dtype=object)

# Removing unwanted columns and write it to the existing CSV files

In [42]:
#Dropping columns that we won't use in train dataset
dft.drop(['kickoff_time'],axis=1,inplace=True)
dft.drop(['Unnamed: 0'],axis=1,inplace=True)
dft.drop(['Unnamed: 0.1'],axis=1,inplace=True)
#Saving it to Train.csv
dft.to_csv('/Users/SulMac/Desktop/MiskDSI/FPL/Best-FPL-team-predictor/Data/Train/Train.csv')


#Dropping columns that we won't use in test dataset
testdf.drop(['kickoff_time'],axis=1,inplace=True)
testdf.drop(['Unnamed: 0'],axis=1,inplace=True)
testdf.drop(['Unnamed: 0.1'],axis=1,inplace=True)
#Saving it to Test.csv
testdf.to_csv('/Users/SulMac/Desktop/MiskDSI/FPL/Best-FPL-team-predictor/Data/Test/Test.csv')